.ho {
  display: flex;
  justify-content: center;
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
}
.ok {
  display: flex;
  justify-content: center;
  font-size: 50px;
  height: 60px;
  margin-top: 10px;
}
.ko {
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.m {
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.n {
  display: flex;
  justify-content: center;
}
.jo {
  margin: 10px;
  height: "200px";
}
.saaral {
  justify-content: center;
}
.v {
  justify-content: center;
  margin-left: 60px;
}
.t {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.duguu {
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 25px;
  font-weight: 70px;
}
.bairshil {
}
.c {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  height: 61px;
  width: 259px;
}
.d {
  color: grey;
  font-size: 10px;
  margin-left: 5px;
}
.box1 {
  margin: 10px;
}
.name {
  margin-left: 5px;
}
.map {
  height: 550px;
  margin-left: 200px;
}
.box2 {
  height: 250px;
  width: 200px;
}
.agency2 {
  color: #303030;
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.une {
  font-size: 50px;
  font-weight: 900;
  flex-direction: row;
  display: flex;
}
.li {
  color: #777777;
  font-size: 40px;
}
.box3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  margin: 10px;
}
.pack {
  font-size: 50px;
}
.button {
  color: white;
  background-color: #18ba51;
  font-size: 20px;
  border: #18ba51;
  border-radius: 5px;
}

.pinecone {
  color: #ffffff;
  font-size: 40px;
  margin-left: 20px;
  font-weight: 600;
  width: 100px;
}
.p {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.pr {
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 24px;
  border: 2px solid black;
}
.pr:hover {
  border: 2px solid green;
}
